@import "../../config/css-config/mixin.scss";

.search-result {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  @include md {
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    max-width: 100%;
    padding: 0 10px;
    box-shadow: none;
  }

  .placeholder {
    position: relative;

    @include md {
      width: 360px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }

    .duration {
      position: absolute;
      bottom: 8px;
      right: 6px;
      background-color: #0f0f0f;
      color: white;
      font-size: 14px;
      padding: 2px 4px;
    }
  }

  &-channel {
    align-items: center;

    .placeholder {
      padding: 10px 0;
      img {
        width: 136px;
        height: 136px;
        border-radius: 50%;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    @include md {
      max-width: calc(100% - 400px);
    }

    .video-title,
    .channel-title {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #0f0f0f;
    }

    .video-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      overflow: hidden;
    }

    .channel-title {
      display: flex;
      gap: 5px;
      align-items: center;

      svg {
        color: #606060;
        font-size: 22px;
      }
    }

    .video-stats,
    .channel-stats {
      display: flex;
      gap: 10px;
      font-size: 12px;
      line-height: 18px;
      color: #606060;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .author {
      margin-bottom: 10px;

      display: flex;
      gap: 5px;
      align-items: flex-end;

      text-decoration: none;
      display: flex;

      color: #0f0f0f;

      &-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      span {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
      }

      svg {
        color: #606060;
        font-size: 18px;
      }
    }

    .video-desc,
    .channel-desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #606060;
      margin-bottom: 10px;
    }

    .badges {
      display: flex;
      gap: 10px;
    }

    .badge {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #606060;
      background-color: rgba(0, 0, 0, 0.08);
      width: max-content;

      border-radius: 2px;
      padding: 3px 4px;
    }
  }
}
