.spinner-wrapper {
  width: 98vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);

  .spinner {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(241, 233, 233);
    border-top: 5px solid rgb(73, 73, 160);
    animation: spinner 1s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
