@import "../../config/css-config/mixin.scss";

svg {
  font-size: 20px;
}

.navbar-wrapper {
  // border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  .navbar {
    height: 56px;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    justify-content: space-between;

    .navbar-center {
      display: none;

      @include md {
        display: flex;
      }

      align-items: center;
      gap: 10px;

      max-width: 600px;
      width: 100%;

      margin-left: 20px;
      margin-right: 20px;

      form {
        display: flex;
        height: 38px;

        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        overflow: hidden;

        width: 100%;

        input {
          border: none;
          outline: 1px solid transparent;
          padding: 0 8px 0 20px;
          font-size: 18px;
          width: 100%;
          max-width: 550px;

          &:active,
          &:focus {
            outline: 1px solid blue;
          }
        }

        button {
          border: none;
          width: 60px;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;

      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        font-size: 24px;
      }

      button {
        width: 40px;
        height: 40px;
        background-color: white;
      }

      .notification {
        min-width: 40px;
        min-height: 40px;
      }

      img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

.navbar-center > .microphone,
.navbar-right > .video-add,
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
}
