@import "../../config/css-config/mixin.scss";

.search-results {
  padding: 2px 10px 50px 10px;

  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto;

  gap: 10px 0px;

  @include md {
    padding-top: 15px;
    gap: 30px;
  }
}
