.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 200;

  &-left {
    padding-left: 18px;
    width: 240px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-240px);

    &.is-open {
      animation: sidebarOpenAnimation 0.3s ease forwards;
      transform: translateX(-240px);
    }

    &.is-close {
      animation: sidebarCloseAnimation 0.3s ease forwards;
      transform: translateX(0px);
    }

    .top {
      height: 56px;
      background-color: white;
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 18px;
      height: calc(100vh - 56px);
      overflow-y: scroll;

      .header {
        padding: 10px 0;
      }

      .category {
        display: flex;
        align-items: center;
        color: black;
        gap: 5px;
        height: 50px;
        text-decoration: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.08);
        }

        .icon {
          // flex-shrink: 0;
          height: 40px;
          width: 40px;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 24px;
          }
        }

        .label {
          text-decoration: none;
          // flex: 1;
          font-size: 15px;
        }
      }
    }
  }

  &-right {
    flex-grow: 1;
  }
}

@keyframes sidebarOpenAnimation {
  0% {
    transform: translateX(-240px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sidebarCloseAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-240px);
  }
}
