.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 200;

  &-left {
    padding-left: 18px;
    width: 240px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-240px);

    &.is-open {
      animation: sidebarOpenAnimation 0.3s ease forwards;
      transform: translateX(-240px);
    }

    &.is-close {
      animation: sidebarCloseAnimation 0.3s ease forwards;
      transform: translateX(0px);
    }

    .top {
      height: 56px;
      background-color: white;
    }
    .bottom {
    }
  }

  &-right {
    flex-grow: 1;
  }
}

@keyframes sidebarOpenAnimation {
  0% {
    transform: translateX(-240px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes sidebarCloseAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-240px);
  }
}
